body {
  position: fixed;

  display: flex;

  height: 100%;
  width: 100%;

  margin: 0;
  padding: 0;
}

gui {
  width: 100%;
  height: 100%;

  display: flex;

  justify-content: space-between;

  sim-objects {
    display: flex;

    flex-direction: column;

    flex: 1 0 auto;

    peers {
      flex: 1 0 auto;
    }

    miners {
      flex: 1 0 auto;

      font-family: monospace;

      miner {
        display: block;
      }
    }
  }

  current-block {
    flex: 1 0 auto;

    block-number, time-remaining { display: block; }

    transactions {
      display: flex;
      flex-direction: column;

      transaction {
        font-family: monospace;
      }
    }

    best-hashes {
     display: flex;

     block-hash {
       flex: 1 1 auto;

       padding: 0.25em;
       margin: 0.25em;

       text-align: center;

       font-family: monospace;

       border: solid 1px #ccc
     }
    }
  }

  chain-explorer {
    flex: 1 0 auto;
    
    display: flex;
    flex-direction: column;

    font-size: 0.9em;

    blocks {

      overflow-y: auto;

      block {
        display: block;

        padding: 0.1em;
        margin: 0.1em;

        border: solid 1px #ccc;

        transactions {
          transaction {
            display: block;
          }
        }
      }
    }
  }
}